@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sarala:wght@400;700&display=swap');

@import url(/assets/css/style.css);
@import url(/assets/css/form.css);
@import url(/assets/css/templates.css);
@import url(/assets/css/service.css);
@import url(/assets/css/loading.css);
@import url(/assets/css/animation.css);
@import url(/assets/css/responsive.css);

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sarala;
}



.home-bt{
  background-image: linear-gradient(180deg, #eb5757, #f76240);
  border: none;
  outline: 0;
  width: 14em;
  height: 2em;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  transition: all .1s linear !important;
  height: 3em;
}
.home-bt:hover{
  background-image: linear-gradient(180deg, #f76240, #eb5757);
  width: 14.5em;
  
}
.bt-white{
  background-color: transparent;
  background-image: none;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.604);
  color: #000;
}
.bt-white:hover{
  background-image: none;
  width: 14.5em;
  background-color: #000;
  color: #fff;
}

.divisor{
  width: 100%;
  height: 20rem;
}
.title-tec{
  border: 1px solid #eb575785;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
  padding: 2px 5px 2px 5px;
  margin-bottom: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
}

/* Scroll do site personalização  */
::-webkit-scrollbar { /* personalizar a barra em geral, aqui estou definindo 30px de largura para a barra vertical
    e 30px de altura para a barra horizontal */
      width: 15px;
      height: 0px;

    }
    
    
    ::-webkit-scrollbar-track { /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza claro*/
      background: #eee;
      border-left: 1px solid #215cff1e;
    }
    
    
    ::-webkit-scrollbar-thumb {
      
      background: #959595a3;
    }